*{
 margin: 0px;
 padding: 0px;
}

body{
  width: 100%; height: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../images/stadium.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  width: 100%; height: 10vh;
  background: rgba(0, 0, 0, 0.2);
  color: white; display: flex; justify-content: space-between;
  align-items: center; text-transform: uppercase;
}

nav .logo{
  width: 100%; text-align: center;
}

body{
 font-family: arial;
}
.main{

 margin: 2%;
}

.card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
     background: white;
    }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 }

.title{
 
  text-align: center;
  padding: 10px;
  
 }

h1{
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
 
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}