*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
  width: 100%; height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../images/stadium.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  width: 100%; height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white; display: flex; justify-content: space-between;
  align-items: center; text-transform: uppercase;
}

nav .logo{
  width: 100%; text-align: center;
}

.styled-table {
    background: white;
    border-collapse: collapse;
    margin: 100px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 50px auto;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,

.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color:white;
    background-color:darkblue;
}
