*{
 margin: 0px;
 padding: 0px;
}

body{
  width: 100%; height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../images/stadium.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  width: 100%; height: 10vh;
  background: rgba(0, 0, 0, 0.2);
  color: white; display: flex; justify-content: space-between;
  align-items: center; text-transform: uppercase;
}

nav .logo{
  width: 25%; text-align: center;
}

nav .menu{
  width: 40%;
  display: flex; justify-content: space-around;
}

nav .menu a{
  width: 25%;
  text-decoration: none; color: white;
  font-weight: bold;
}

nav .menu a:nth-child(2){
  color: #00b894;
}

body{
 font-family: arial;
}
.main{

 margin: 2%;
}

.card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
     background: white;
    }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 }

.title{
 
  text-align: center;
  padding: 10px;
  
 }

h1{
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
 
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}
