body {
	margin: 0px;
	padding: 0px;
	background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../images/cricketmain.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav{
  width: 100%; height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white; display: flex; justify-content: space-between;
  align-items: center; text-transform: uppercase;
}

nav .logo{
  width: 25%; text-align: center;
}

nav .menu{
  width: 40%;
  display: flex; justify-content: space-around;
}

nav .menu a{
  width: 25%;
  text-decoration: none; color: white;
  font-weight: bold;
}

nav .menu a:nth-child(3){
  color: #00b894;
}

.cricket-card{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	background: rgba(255, 255, 255, 0.7);
	overflow: hidden;
	transition: 0.7s;
	box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.35);
}

.cricket-card h2{
	width: 100%;
	margin: 0;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.7s;
}

.cricket-card:hover h2{
	background: #09c9f2;
	color: #fff;
}

.cricket-card:hover{
	background: #fff;
}

.all-details{
	position: relative;
}

.VS{
	width: 50px;
	height: 50px;
	font-size: 25px;
	border-radius: 20%;
	background: #e91e63;
	color: #fff;
	text-align: center;
	line-height: 50px;
	margin: 20px auto;
}

.date{
	margin: 20px 0 0 ;
}

.india{
	width: 200px;
	float: left;
	box-sizing: border-box;
	padding: 10px 20px 20px;
	text-align: center;
}


.australia{
	width: 200px;
	float: left;
	box-sizing: border-box;
	padding: 10px 20px 20px;
	text-align: center;
}

.india img,

.australia img{
	width: 100%;
}

.details{
	width: 200px;
	min-height: 200px;
	float: left;
	text-align: center;
	transition: 0.7s;
}

h3.team-cmn{
	text-align: center;
	padding: 15px 0 0;
	margin-bottom: 25px;
}

